@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
    color: #ffffff;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #ffffff;
    background-color: transparent;
}
.flex {
    display: flex;
}

.space-x-2 > * + * {
    margin-left: 0.5rem;
}

.p-8 {
    padding: 2rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-4 {
    margin-right: 1rem;
}
.ant-form-item {
    margin-bottom: 8px !important; /* Adjust the margin as needed */
}
